In [11]:
# https://pypi.org/project/yfinance/ its a package for interacting with yahoo finance. 
# I added some packages for data and number manipulation
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Apple = yf.download("AAPL", start="2020-01-01", end="2023-12-01")

[*********************100%%**********************]  1 of 1 completed

In [3]:
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,73.059418,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,72.349129,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,72.925621,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,72.582657,108872000
2020-01-08,74.290001,76.110001,74.290001,75.797501,73.750244,132079200
...,...,...,...,...,...,...
2023-11-24,190.869995,190.899994,189.250000,189.970001,189.727905,24048300
2023-11-27,189.919998,190.669998,188.899994,189.789993,189.548126,40552600
2023-11-28,189.779999,191.080002,189.399994,190.399994,190.157349,38415400
2023-11-29,190.899994,192.089996,188.970001,189.369995,189.128662,43014200
2023-11-30,189.839996,190.320007,188.190002,189.949997,189.707916,48794400

In [4]:
tickers=["SPY","AAPL","KO"]

In [6]:
stocks = yf.download(tickers, start="2020-01-01", end="2023-12-01")

[*********************100%%**********************]  3 of 3 completed

In [7]:
stocks

             Adj Close                              Close             \
                  AAPL         KO         SPY        AAPL         KO
Date
2020-01-02   73.059418  48.147964  304.113586   75.087502  54.990002
2020-01-03   72.349129  47.885288  301.810730   74.357498  54.689999
2020-01-06   72.925621  47.867783  302.962128   74.949997  54.669998
2020-01-07   72.582657  47.500038  302.110260   74.597504  54.250000
2020-01-08   73.750244  47.587589  303.720398   75.797501  54.349998
...                ...        ...         ...         ...        ...
2023-11-24  189.727905  57.646217  452.056915  189.970001  58.570000
2023-11-27  189.548126  57.537952  451.242767  189.789993  58.459999
2023-11-28  190.157349  57.656067  451.689545  190.399994  58.580002
2023-11-29  189.128662  57.311584  451.371826  189.369995  58.230000
2023-11-30  189.707916  57.976265  453.149078  189.949997  58.439999

                              High                                Low  \
                   SPY        AAPL         KO         SPY        AAPL
Date
2020-01-02  324.869995   75.150002  55.430000  324.890015   73.797501
2020-01-03  322.410004   75.144997  54.990002  323.640015   74.125000
2020-01-06  323.640015   74.989998  54.910000  323.730011   73.187500
2020-01-07  322.730011   75.224998  54.599998  323.540009   74.370003
2020-01-08  324.450012   76.110001  54.639999  325.779999   74.290001
...                ...         ...        ...         ...         ...
2023-11-24  455.299988  190.899994  58.750000  455.500000  189.250000
2023-11-27  454.480011  190.669998  58.689999  455.489990  188.899994
2023-11-28  454.929993  191.080002  58.830002  456.269989  189.399994
2023-11-29  454.609985  192.089996  58.669998  458.320007  188.970001
2023-11-30  456.399994  190.320007  58.459999  456.760010  188.190002

                                         Open                         \
                   KO         SPY        AAPL         KO         SPY
Date
2020-01-02  54.759998  322.529999   74.059998  55.320000  323.540009
2020-01-03  54.090000  321.100006   74.287498  54.320000  321.160004
2020-01-06  54.520000  320.359985   73.447502  54.650002  320.489990
2020-01-07  54.150002  322.239990   74.959999  54.450001  323.019989
2020-01-08  54.150002  322.670013   74.290001  54.270000  322.940002
...               ...         ...         ...        ...         ...
2023-11-24  58.340000  454.730011  190.869995  58.459999  455.070007
2023-11-27  58.270000  454.079987  189.919998  58.540001  454.649994
2023-11-28  58.360001  453.500000  189.779999  58.400002  454.079987
2023-11-29  58.099998  454.200012  190.899994  58.580002  457.149994
2023-11-30  57.599998  453.339996  189.839996  57.959999  455.480011

               Volume
                 AAPL        KO       SPY
Date
2020-01-02  135480400  11867700  59151200
2020-01-03  146322800  11354500  77709700
2020-01-06  118387200  14698300  55653900
2020-01-07  108872000   9973900  40496400
2020-01-08  132079200  10676000  68296000
...               ...       ...       ...
2023-11-24   24048300   4816000  29737400
2023-11-27   40552600  16246500  50506000
2023-11-28   38415400  13739600  62115000
2023-11-29   43014200  11263600  63146000
2023-11-30   48794400  22727500  79752700

[986 rows x 18 columns]

In [8]:
stocks.head()

            Adj Close                             Close             \
                 AAPL         KO         SPY       AAPL         KO
Date
2020-01-02  73.059418  48.147964  304.113586  75.087502  54.990002
2020-01-03  72.349129  47.885288  301.810730  74.357498  54.689999
2020-01-06  72.925621  47.867783  302.962128  74.949997  54.669998
2020-01-07  72.582657  47.500038  302.110260  74.597504  54.250000
2020-01-08  73.750244  47.587589  303.720398  75.797501  54.349998

                             High                               Low  \
                   SPY       AAPL         KO         SPY       AAPL
Date
2020-01-02  324.869995  75.150002  55.430000  324.890015  73.797501
2020-01-03  322.410004  75.144997  54.990002  323.640015  74.125000
2020-01-06  323.640015  74.989998  54.910000  323.730011  73.187500
2020-01-07  322.730011  75.224998  54.599998  323.540009  74.370003
2020-01-08  324.450012  76.110001  54.639999  325.779999  74.290001

                                        Open                         \
                   KO         SPY       AAPL         KO         SPY
Date
2020-01-02  54.759998  322.529999  74.059998  55.320000  323.540009
2020-01-03  54.090000  321.100006  74.287498  54.320000  321.160004
2020-01-06  54.520000  320.359985  73.447502  54.650002  320.489990
2020-01-07  54.150002  322.239990  74.959999  54.450001  323.019989
2020-01-08  54.150002  322.670013  74.290001  54.270000  322.940002

               Volume
                 AAPL        KO       SPY
Date
2020-01-02  135480400  11867700  59151200
2020-01-03  146322800  11354500  77709700
2020-01-06  118387200  14698300  55653900
2020-01-07  108872000   9973900  40496400
2020-01-08  132079200  10676000  68296000

In [13]:
stocks.tail()

             Adj Close                              Close             \
                  AAPL         KO         SPY        AAPL         KO
Date
2023-11-24  189.970001  58.107315  455.299988  189.970001  58.570000
2023-11-27  189.789993  57.998184  454.480011  189.789993  58.459999
2023-11-28  190.399994  58.117237  454.929993  190.399994  58.580002
2023-11-29  189.369995  57.770000  454.609985  189.369995  58.230000
2023-11-30  189.949997  58.439999  456.399994  189.949997  58.439999

                              High                                Low  \
                   SPY        AAPL         KO         SPY        AAPL
Date
2023-11-24  455.299988  190.899994  58.750000  455.500000  189.250000
2023-11-27  454.480011  190.669998  58.689999  455.489990  188.899994
2023-11-28  454.929993  191.080002  58.830002  456.269989  189.399994
2023-11-29  454.609985  192.089996  58.669998  458.320007  188.970001
2023-11-30  456.399994  190.320007  58.459999  456.760010  188.190002

                                         Open                         \
                   KO         SPY        AAPL         KO         SPY
Date
2023-11-24  58.340000  454.730011  190.869995  58.459999  455.070007
2023-11-27  58.270000  454.079987  189.919998  58.540001  454.649994
2023-11-28  58.360001  453.500000  189.779999  58.400002  454.079987
2023-11-29  58.099998  454.200012  190.899994  58.580002  457.149994
2023-11-30  57.599998  453.339996  189.839996  57.959999  455.480011

              Volume
                AAPL        KO       SPY
Date
2023-11-24  24048300   4816000  29737400
2023-11-27  40552600  16246500  50506000
2023-11-28  38415400  13739600  62115000
2023-11-29  43014200  11263600  63146000
2023-11-30  48794400  22727500  79752700